@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

html,
body {
    margin: 0;
}

body {
    background-color:#B9E4E9;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;

}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    padding: 50px 20px 0px;
    background-color: #F9F9FC;

}

ul li a{
    text-decoration: none;
    color: #64C8CB;
    font-size: 20px;
    
}

.header {
    min-height: 200px;
    background: no-repeat center/cover url(../img/Screenshot_35.png);
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    color: #64C8CB;
    letter-spacing: 3px;
    font-size: 14px;
}

.titulo {
    padding-left: 10px;
}

.content {
    min-height: 300px;
    padding: 100px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: #F9F9FC;
    color: #64C8CB;
}

.footer {
    background-color: #f8f8fa;
    min-height: 150px;
}

.address {
    text-align: center;
    padding-top: 0;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    color: #355781;
}